# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# vim swap files
.*.sw?

# C extensions
*.so

.cache
.pytest_cache/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
